body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}
.display {
  width: calc(100px * 3);
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.calculator-grid {
  
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #e0e0e0;
}
